Builds/MacOSX/build/Debug/Chaser.app/Contents/PkgInfo
Builds/MacOSX/build/Debug/Chaser.app/Contents/MacOS/Chaser
Builds/MacOSX/build/Debug/Chaser.app/Contents/Resources/RecentFilesMenuTemplate.nib
Builds/MacOSX/Chaser.xcodeproj/project.xcworkspace/xcuserdata/hybrid.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Chaser.xcodeproj/xcuserdata/hybrid.xcuserdatad/xcschemes/Chaser.xcscheme
Builds/MacOSX/Chaser.xcodeproj/xcuserdata/hybrid.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/build/Release
Builds/VisualStudio2015/Debug/
Builds/VisualStudio2015/x64/
Builds/VisualStudio2015/Chaser.opensdf
Builds/VisualStudio2015/Chaser.sdf

build

/Builds/MacOSX/Chaser.xcodeproj/project.xcworkspace/xcuserdata/

/Builds/MacOSX/Chaser.xcodeproj/xcuserdata/joris.xcuserdatad/
Chaser.xcscmblueprint
Builds/MacOSX/Chaser.xcodeproj/xcuserdata/hybrid.xcuserdatad
